[submodule "shared"]
	path = shared
	url = https://github.com/ngam/FMS.git
[submodule "coupler"]
	path = coupler
	url = https://github.com/ngam/coupler.git
[submodule "MOM6"]
	path = MOM6
	url = https://github.com/ngam/MOM6.git
